@import '../../../assets/scss/typography';
@import '../../../assets/scss/variables';
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Livvic-SemiBold;
    padding: 0 50px;
    .screen {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        opacity: 0;
        pointer-events: none;
        transition: opacity .6s;
        &.menu-open{
            opacity: 1;
            pointer-events: auto;   
        }
    }
    h1 {
        cursor: pointer;
    }
    nav {
        transform: translateX(230%);
        transition: transform .6s;
        display: flex;
        flex-direction: column;
        background-color: rgba(240, 164, 126, 0.801);
        font-size: 20px;
        border-radius: 5px;
        padding: 10px;
        > *{
            margin-right: 10px;
            cursor: pointer;
        }
        @media (min-width: $mobile-breakpoint){
            display:inline;
            transform: unset;
            background-color:unset;
        }
        &.menu-open{
            transform: translateX(30%);
            box-shadow: -8px 0px 20px color(0 0 0 / 20%);
        }
    }
    .btn-menu-toggle {
        display: block;
        font-size: 30px;
        @media (min-width: $mobile-breakpoint){
            display: none;
        }
        &.menu-open{
            display:none;
        }
    }
}

// body.menu-open .header .screen {
//     /* display: block; */
//     opacity: 1;
//     pointer-events: auto;
// }

