@import '../../../assets/scss/helpers';
.contact-page{
    font-family: Livvic-SemiBold;
    .plus-icon{
        // background-image: url('../../../assets/icons/plus.png');
        // background-repeat: no-repeat;
        z-index: 1;
        img {
            height: 50px;
            width: 50px;
        }
        &:hover{
            cursor: pointer;
        }
    }
}