<section class="contact-edit">
    <h1>{{header}} Contact:</h1>
    <form [formGroup]="form" (ngSubmit)="onSaveContact(form.value)" class="flex column">
        <div class="my-input">
            <label for="name">Name</label>
            <input formControlName="name" type="text" id="name">
        </div>
        <div class="my-input">
            <label for="phone">Phone</label>
            <input formControlName="phone" type="text" id="phone">
        </div>
        <div class="my-input">
            <label for="email">Email</label>
            <input formControlName="email" type="text" id="email">
        </div>
        <button [disabled]="form.invalid">Submit</button>
    </form>
    <div class="edit-btns flex justify-center">
        <a routerLink="/contact/{{contact._id}}" class="clean-link">Back</a>
        <button *ngIf="contact.name" (click)="onRemveContact()">Delete</button>
    </div>
</section>